.DS_Store
node_modules
/build
/build-demo
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
sample.db

# Paraglide
src/lib/paraglide
project.inlang/cache/

docs/data